
/*********  NAVBAR STYLE  *********/


.navbar-header>a {
    display: block;
    width: 5.5em;
    height: 50px;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-header>a img {
    display: none;
}


/*********  NAVBAR STYLE END  *********/

.motd-tab-content{background-color: rgba(0,0,0,0.7)}
#leftcontrols .btn {
    margin-right: 0px;
}
body {overflow-x: hidden}
.channel-frame {
    margin: 10px 10px;
    padding: 1px 10px;
    border: 2px solid;
border-style: dashed;
border-color: #008dcf;
}
.dropdown-menu, .profile-box, .videolist .queue_entry {
    background: rgba(0,0,0,0.6);
}
#chatheader, #chatline, #currenttitle, #plmeta, #messagebuffer , .btn, .form-control, .modal-content, .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover, .navbar-inverse .navbar-nav li a:focus, .navbar-inverse .navbar-nav li a:hover, .profile-box, .queue_entry, .user-dropdown, .well {
    border-radius: 0;
    border: none;
}

.queue_active a:before, .queue_active {
    background: linear-gradient(to bottom,rgba(0,10,20,.8),rgba(64, 75, 152, 0.67))!important;
}
table, table td {
    background-color: transparent;
}
.container-fluid {padding-left: 0px !important;}

.col-lg-12,  .col-md-12 {padding-left: 0px;}

.row {margin-left: 0px;margin-right: -15px;}
.input-group-addon{background-image: linear-gradient(#323562,#2b2a56 60%,#2b2d54);}

@media (max-width: 768px){#userlist, #messagebuffer{height: 50vh !important;}#doc_time{font-size: 16px !important}}
#doc_time{color: #75cbff}

#chatline{background-color: rgb(13, 15, 15, 0.6) !important;
}
textarea.form-control {
    color: #f5f2f2;}
#chatwrap, #videowrap, #rightcontrols, #leftcontrols, #leftpane, #rightpane {
    width: 100% important;
}
.modal {
position: fixed;
top: 0;
z-index: 1040;
display: none;
overflow: auto;
overflow-y: scroll; 
}
#videowrap{overflow-x: none}

.action {
    color: #93de99;
}

/*main*/
#plmeta{font-size: 11px;}
#plcount{padding-left: 5px;}
#pllength{padding-right: 5px;}
#main {background-color: rgba(0,0,0,0) !important;}
.chat-picture {
    max-width: -webkit-fill-available !important;
}
/*****/

body{background: url(https://dl.dropbox.com/s/4i9566rjnu8fzs7/1.jpg) repeat; /*background-size:cover;*/background-attachment: fixed;background-color: black}
#chatheader, #currenttitle{
background: linear-gradient(to bottom,rgba(0,10,20,0.8),rgba(64, 75, 152, 0.55))!important;padding-top: 5px;padding-bottom: 2px;
}

#wrap {
    background:url(http://anivisual.net/img/pat1.png);
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: rgba(25, 0, 51, 0.7);
    background: url('http://i.imgur.com/V5Yw06K.png') repeat;
    height: 55px;
}
#wrap > nav > div.navbar-header > a:hover::after{content: "Перейти к списку каналов";position: absolute;left: 15px; top: 58px; z-index: 1; background: rgba(0, 82, 121, 0.6); font-family: Arial, sans-serif;color:white;font-size: 14px; padding: 2px 2px;border: 1px solid #333;font-weight: bold }}
.navbar-header{
    background-color: rgba(0, 82, 121, 0.6) !important;
}
.navbar-inverse, #nav-collapsible {
    background-image: linear-gradient(rgb(4, 0, 0), rgb(64, 84, 156) 60%, rgb(0, 0, 0)) !important;
    background:url('http://i.imgur.com/eeaSb5D.png') repeat !important;
}
#mainpage {
    padding-top: 50px !important;
}
#chatwrap, #videowrap {
    margin-bottom: 0px !important;
}
#wrap > nav > div.navbar-header > a:before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background: url(https://dl.dropbox.com/s/numjs91agmoywkz/59b89b2….gif) no-repeat 0 0;
    background-size: 100%;
}
.navbar-inverse, #nav-collapsible {
    background-image: linear-gradient(rgb(4, 0, 0), rgb(64, 84, 156) 60%, rgb(0, 0, 0)) !important;
    background: url(http://i.imgur.com/eeaSb5D.png) repeat !important;
}
.dropdown-menu{background-color: black;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-color: rgba(0, 82, 121, 0.6) !important}
#smiles-panel img {
    margin: 5px;
    max-height: 35px;
    cursor: pointer;
}
#smiles-panel img{
 overflow:hidden; }
#smiles-panel img{
 -moz-transition: all 0.14s ease-out;
 -o-transition: all 0.14s ease-out;
 -webkit-transition: all 0.14s ease-out;
 }
#smiles-panel img:hover{
 -webkit-transform: scale(2);
 -moz-transform: scale(2);
 -o-transform: scale(2);
 }

.glyphicon-time::before {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    content: " ";
    background: url("http://i.imgur.com/pAw9osK.gif") 0px 0px / 14px no-repeat;
}
#pictures-trash {
    width: 30px;
    height: 30px;
    background: rgba(220,10,20,0.5);
    top: 8px;
    position: initial;
    z-index: 5;
    background-position: center;
}
.queue_active .qe_title {
    font-size: 12pt;
    background-image: url(https://dl.dropbox.com/s/idmsiw91bynlbx3/active_queue.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
}
.queue_active.queue_temp > a{
    background-image: url(https://dl.dropbox.com/s/ak8vf6q395s48md/active_temp_queue.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
}
.qe_title {
    font-size:12pt;
    background-image:url("https://dl.dropbox.com/s/41yudro3tw813wh/queue.png");
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:26px;
}
.queue_temp .qe_title{
    background-image: url(https://dl.dropbox.com/s/a7gu5bc955xjtlz/temp_queue.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
}
.cirno, .userlist_item .userlist_owner {
    color: rgb(131, 111, 193) !important;
    font-weight: bold !important;
}
.timestamp{float: right;font-size: 7pt;}

#messagebuffer {
    font-size: 14px;
    font-family: Trebuchet MS;
}

strong.username{color: #28a6dc;}
.queue_active .qe_title, #currenttitle, #userlist, #usercount, #nav-collapsible {font-family: Monotype Corsiva;
}
body{background: url(https://dl.dropbox.com/s/4i9566rjnu8fzs7/1.jpg) repeat;} 
@media (max-width: 991px){#logoutform > span:nth-child(4), #welcome{display: none;}}
.action {
font-style: italic;
color: rgba(215, 255, 113, 0.8);
}
@media (max-width: 768px){#userlist, #messagebuffer{height: 50vh !important;}}

#wrap > nav > div.navbar-header > a:before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 50px;
    margin-left: 10px;
    margin-top:10px;
    background: url(https://dl.dropbox.com/s/numjs91agmoywkz/59b89b275ccacf0c4ed74317.gif) no-repeat 0 0;
    background-size: 100%;
}

#pictures-control-panel, #picture-address{position: fixed; bottom:32px;left: 0px;width:calc(30vw - 5px) !important;}
#picture-address{position: absolute; top:32px;left: -12px;width:calc(30vw - 10px) !important;}
#favourite-pictures-panel{height: 100%;overflow-y: hidden;}
#pictures-control-panel{background-color: rgba(0,0,0,0.7);}

/*self chat fix*/
.self strong.username{color: rgb(131, 111, 193);}
.self .timestamp{color: #28a6dc;color: rgb(131, 111, 193);}
.self {display: flow-root;}
.timestamp{color: #28a6dc;}
.timestamp.server-whisper{color: #888888;}
#messagebuffer > div > span:nth-child(3){padding-right: 10px;}
#userlist {
    font-family: 'Indie Flower',cursive;
}

#ytapiplayer > div.vjs-control-bar{background-color: rgb(49, 60, 108);}
#rightpane-inner {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
div.upload {
    width: 558px;
    height: 100px;
    background: url(http://i.imgur.com/t5vj728.png);
    overflow: hidden;
}

div.upload input {
    display: block!important;
    width: 558px!important;
    height: 100px!important;
    opacity: 0!important;
    overflow: hidden!important;
    cursor: pointer;
}
 
#imgupload > .modal-dialog > .modal-content {
    width: 600px;
    margin: 0px auto;
}

.chat-picture {
    max-width: -webkit-fill-available !important;
}

div.upload {
    background-color: white;
}
.modal-body, .modal-content {
    background: rgba(0, 0, 0, 0.75);
}
.modal-content {
    background-color: rgba(2, 2, 2, 0.7) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}



/* Video Logo */
#ytapiplayer::after {
    background: url(https://dl.dropbox.com/s/nds2zo8h5aqpmor/logo-3.png) no-repeat 0 0 !important;
    background-size: contain !important;
}
#ytapiplayer::before{content: "" !important;top: 60px !important;}
@keyframes vlogo{
   0%, 100% { opacity: 0; transform: translate(0px,-1000px) rotate(0deg) ; content: "";  }
   10%, 99% { opacity: 1;content: "SN";  }
   11%, 97% { transform: translate(0px,10px) rotate(0deg) ; content: "SpaceN";  }
      12%, 96% { transform: translate(0px,0px) rotate(0deg) ; content: "SpaceNoire";  }
   50% { transform: translate(0px,0px) rotate(0deg) ; content: "SpaceNoire";  }
      98% { transform: translate(0px,10px) rotate(0deg) ; content: "SN";  }
}
@-moz-document url-prefix(){#ytapiplayer::before{ content: "SpaceNoire" !important;}}
@supports (-ms-ime-align:auto) {#ytapiplayer::before{ content: "SpaceNoire" !important;}}
/*end*/

#chatline:focus, #mediaurl:focus, #customembed-content:focus, #library_query:focus, #userpl_name:focus {
    border-left: 10px solid #483f94 !important;
    transition: .2s ease-in-out;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: rgba(70, 104, 148, 0.72) !important;
}
